<div class="bg_about">
    <div class="row">
        <div class="snowHeadings">
            <h1>MidWinter is Coming!</h1>
            <span><img src="images/snowflake_under.png"></span>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-xs-12 col-sm-6">
                <img src="images/about_icon1.png">
                <h2>CHIEF EXECUTIVE DESIGNER</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed eleifend quam. Nulla facilisi. Praesent faucibus tincidunt neque, ut vulputate eros consequat sit amet. Sed scelerisque congue lacinia. Aliquam erat volutpat. Nullam sit amet porta est. Duis nec elit nisl. Nunc sed massa non neque posuere iaculis vel a nisl. In justo sem, tincidunt laoreet faucibus maximus, tristique eu justo.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="images/about_icon2.png">
                <h2>CREATIVE DIRECTOR</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed eleifend quam. Nulla facilisi. Praesent faucibus tincidunt neque, ut vulputate eros consequat sit amet. Sed scelerisque congue lacinia. Aliquam erat volutpat. Nullam sit amet porta est. Duis nec elit nisl. Nunc sed massa non neque posuere iaculis vel a nisl. In justo sem, tincidunt laoreet faucibus maximus, tristique eu justo.</p>
            </div>
        </div>
    </div>
</div>
