<div class="bg_contact">

	<div class="col-xs-12 col-sm-6">

		<div class="contact-form">
           
			<form id="contact-form">
               <h2>Contact</h2>
				<div>
					<label for="name">Name</label></br>
					<input id="name" type="text" placeholder="" required>
				</div>
				<div>
					<label for="email">Email</label></br>
					<input id="email" type="email" placeholder=""  required>
				</div>
				<div>
					<label for="message">Message</label></br>
					<textarea id="name" type="text" placeholder=""  cols="40" required></textarea>
				</div>
				<div class="submit-row">
					<button class="submit"  type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>