<div class="bg_home">

<div class="col-sx-12 col-sm-6">
<div class="snowHeadings">
<h1>MidWinter is Coming!</h1>
<span><img src="images/snowflake_under.png"></span> 
</div>
<p>
Suspendisse potenti. Sed aliquam arcu eu metus tincidunt viverra. Fusce ullamcorper, mauris id sagittis sodales, augue massa cursus metus, ac facilisis sapien ex a turpis. Etiam laoreet, ante et malesuada euismod, mauris sem lobortis eros, non suscipit dui elit sed sem. Vivamus a dignissim metus, ac ullamcorper dolor. Etiam ac ligula id leo pharetra efficitur. Duis risus risus, efficitur sed erat nec, pharetra tincidunt justo. Donec placerat lacus et nisi aliquam, quis ultricies nisi facilisis. Fusce ut ex non nibh porttitor vestibulum. Maecenas interdum eros orci, eu accumsan purus bibendum a. Integer iaculis libero mauris, interdum dictum mauris pharetra non. 
</p>
</div>

</div>